@model sms.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />

@if (@ViewBag.Id != null)
{
<h6>Student Number: @ViewBag.StudentNumber</h6>
<h6>Student Name: @ViewBag.StudentName</h6>
<h6>Programme: @ViewBag.Programme</h6>
<hr style="width:30%">
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @if (@ViewBag.Id != null)
            {
                <input type="hidden" name="studentId" value="@ViewBag.Id"/>
                <input type="hidden" name="StudentId" value="@ViewBag.SpecificStudentId"/>
            }
            else
            {
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId">
                    <option value="">-- Select Student --</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            }
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label"></label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId">
                    <option value="">-- Select Payment Type --</option>
                </select>
                <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
