@model sms.Models.CourseRegistration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Student Number:
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.StudentNumber
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class = "col-sm-2">
           Programme
        </dt>
        <dd class = "col-sm-10">
            @ViewData["Programme"]
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearLevel.YearLevelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcadYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcadYear.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-route-id = "@ViewBag.Id">Back to List</a>
</div>
